/* CSS definition file containing sitestyle stylesheets */
BODY { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; background-color: rgb(255,255,255); background-image: url( "http://www.abcphil.de/assets/images/background.gif" )}
 A:active { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(255,0,0); font-weight: normal; font-style: normal}
 A:link { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(0,51,204); font-weight: normal; font-style: normal}
 UL { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: normal; font-style: normal}
 A:visited { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(153,0,153)}
 .TextObject { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small}
 H1 { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: xx-large; color: rgb(0,51,204); font-weight: bold}
 H2 { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-large; color: rgb(0,51,204); font-weight: bold}
 P { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small}
 H3 { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: large; color: rgb(0,51,204); font-weight: bold}
 OL { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; font-weight: normal; font-style: normal}
 H4 { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: medium; color: rgb(0,51,204); font-weight: bold}
 .TextNavBar { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: xx-small}
 H5 { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: small; color: rgb(0,51,204); font-weight: bold}
 H6 { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(0,51,204); font-weight: bold}
 
.nof_DuneGrayBlueBanners1-Banner1 {
font-family:Verdana; font-size:24px; font-weight:700; font-style:normal; color:#ffffff 
}

.nof_DuneGrayBlueNavbar2-Regular {
font-family:Verdana; font-size:10px; font-weight:400; font-style:normal; color:#ffff66 
}

.nof_DuneGrayBlueNavbar4-Rollover {
font-family:Verdana; font-size:10px; font-weight:400; font-style:normal; color:#ffcc33 
}

.nof_DuneGrayBlueNavbar6-Highlighted {
font-family:Verdana; font-size:10px; font-weight:700; font-style:normal; color:#ffff00 
}

.nof_DuneGrayBlueNavbar8-HighlightedRollover {
font-family:Verdana; font-size:10px; font-weight:700; font-style:normal; color:#ff9900 
}

.nof_DuneGrayBlueNavbar3-Regular {
font-family:Verdana; font-size:10px; font-weight:400; font-style:normal; color:#000099 
}

.nof_DuneGrayBlueNavbar5-Rollover {
font-family:Verdana; font-size:10px; font-weight:400; font-style:normal; color:#000099 
}

.nof_DuneGrayBlueNavbar7-Highlighted {
font-family:Verdana; font-size:10px; font-weight:700; font-style:normal; color:#000066 
}

.nof_DuneGrayBlueNavbar9-HighlightedRollover {
font-family:Verdana; font-size:10px; font-weight:700; font-style:normal; color:#000066 
}
A:hover { font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif; font-size: x-small; color: rgb(255,0,0); font-weight: normal; font-style: normal}
 